body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-image: url(./img/bg.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.logo{
    padding-top: 20px;
}

h1{
    font-size: 15px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.contato{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 100px;
}

.img{
    padding: 10px 120px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.img:hover{
    border: 2px solid #18AEFF;
}

.port{
    padding: 20px 85px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.port:hover{
    border: 2px solid #18AEFF;
    cursor: pointer;
}
